<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80196511557-1a0mgtsj3g9ible2739sc4hc6qd2i3jl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80196511557-1a0mgtsj3g9ible2739sc4hc6qd2i3jl</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Fs1GPoHT4msBT7s7WjVdP-ByFF3vrMY</string>
	<key>GCM_SENDER_ID</key>
	<string>80196511557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialToZklogin</string>
	<key>PROJECT_ID</key>
	<string>social-zklogin</string>
	<key>STORAGE_BUCKET</key>
	<string>social-zklogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80196511557:ios:9b469caea4b073b5d6002c</string>
</dict>
</plist>